html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    margin-bottom: 60px;
}

nav {
    background-color: green;
}

tr {
    color: red;
    border: darkred;
}
th {
    color: green;
    border: darkred;
}
table {
    color: blue;
    border: darkgreen;
}
td {
    color: green;
    flex-grow:1;
}
h1 {
    color: red;
    border: darkgreen;
    flex-grow: 1;
}
h2 {
    color: blue;
    border: darkgreen;
    flex-grow: 1;
}
h3 {
    color: green;
    border: darkgreen;
    flex-grow: 1;
}
h4 {
    color: red;
    border: darkgreen;
    flex-grow: 1;
}
p {
    color:green;
}

text {
    text-justify: auto;
    color: blue;
    border: darkgreen;
    flex-grow: 1;
}

div.container {
    text-align: center;
}

ol.myOL {
    display: inline-block;
    text-align: left;
    color: red;
}

ul {
    color: yellow;
}

div {
    flex-grow: 1;
}