html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: black;
  margin-bottom: 60px;
}

nav {
    background-color: green;
}

tr, th, td, table, h4, div {
    color: green;
    border: darkred;
}
h1 {
        color:red;
        border: darkgreen;
}
text {
    text-justify: auto;
    color: blue;
}
